<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591082737923-4m6pfjujmr65umqnm8idmd3c8glkhju6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591082737923-4m6pfjujmr65umqnm8idmd3c8glkhju6</string>
	<key>API_KEY</key>
	<string>AIzaSyAQixJbDy9VGBCFTOjqx9Iz653fgVQgA8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>591082737923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-33827</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-33827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591082737923:ios:96f618c1f550c421885936</string>
</dict>
</plist>